<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ssc.sscappadmin">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="SSC Admin"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.ssc.sscappadmin.MainActivity" />
        <activity
            android:name="com.ssc.sscappadmin.CatalogueActivity"
            android:parentActivityName="com.ssc.sscappadmin.MainActivity" />
        <activity android:name="com.ssc.sscappadmin.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ssc.sscappadmin.ContactUsActivity"
            android:parentActivityName="com.ssc.sscappadmin.MainActivity" />
        <activity
            android:name="com.ssc.sscappadmin.AddCompActivity"
            android:parentActivityName="com.ssc.sscappadmin.CatalogueActivity" />
        <activity
            android:name="com.ssc.sscappadmin.CompanyActivity"
            android:label="@string/title_activity_company"
            android:parentActivityName="com.ssc.sscappadmin.CatalogueActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.ssc.sscappadmin.AddPartNo"
            android:parentActivityName="com.ssc.sscappadmin.CompanyActivity" />
        <activity
            android:name="com.ssc.sscappadmin.PartNoDetails"
            android:parentActivityName="com.ssc.sscappadmin.CompanyActivity" />
        <activity
            android:name="com.ssc.sscappadmin.addPartnoDetailsActivity"
            android:parentActivityName="com.ssc.sscappadmin.PartNoDetails" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name="com.ssc.sscappadmin.imageActivity"
            android:parentActivityName="com.ssc.sscappadmin.PartNoDetails" />
        <activity android:name="com.ssc.sscappadmin.RenameCompanyActivity"
            android:excludeFromRecents="true"
            android:parentActivityName="com.ssc.sscappadmin.CatalogueActivity"></activity>

    </application>

</manifest>